<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="../scripts/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Finanace Manager</title>
</head>
<body>
    <div class="container-md">
        <div class="row">
            <div class="col">
                <p class="h3">Chi tiêu mới</p>
                    <form id="expense_form">
                    <div id="container"></div>
                    <button type="reset" class="btn btn-outline-primary">Điền lại</button>
                    <button type="submit" class="btn btn-primary">Chi</button>
                </form>
            </div>
            <div class="col">
                <p class="h3">Chi tiêu của bạn</p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <th>STT</th>
                            <th>Tiêu đề</th>
                            <th>Lượng tiền</th>
                            <th>Ngày chi</th>
                            <th>Loại chi tiêu</th>
                            <th>Mô tả</th>
                        </thead>
                        <tbody id="expense_table_body"></tbody>
                    </table>
                    <nav>
                        <ul class="pagination" id="table_pagination"></ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <p class="h2" style="text-align: center;">Thống kê</p>
        <div class="row">
            <div class="col">
                <canvas id="bar_chart"></canvas>
            </div>
            <div class="col">
                <canvas id="line_chart"></canvas>
            </div>
        </div>
        <button id="btn_logout_session" class="btn shadow p-3 mb-5 bg-body rounded" style="position: fixed; right: 10px; bottom: 0px;" data-bs-toggle="tooltip" data-bs-placement="left" title="Thoát">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>
        </button>
    </div>
    <script src="../scripts/forms.js"></script>
    <script src="../scripts/expense.js"></script>
    <script src="../scripts/statistic.js"></script>
    <script type="module">
        // Create expense form
        let form = document.getElementById('container');
        const expenseFormFields = await getExpenseFormFields();
        createFormFields(form , expenseFormFields);
    </script>
    <script>
        const expenseForm = document.getElementById('expense_form');
        const btnLogout = document.getElementById('btn_logout_session');

        expenseForm.addEventListener('submit', (event) =>{
            event.preventDefault();
            const tableBody = document.getElementById('expense_table_body');
            const formData = new FormData(expenseForm);

            const data = {
                title: formData.get('title'),
                amount: Number.parseFloat(formData.get('amount')),
                category_id: Number.parseInt(formData.get('category_id')),
                spent_date: formData.get('spent_date'),
                description: formData.get('description')
            };

            createExpense(data).then(res => {
                addExpenseRow(tableBody, res);
            });

        });

        btnLogout.addEventListener('click', () => {
            window.localStorage.removeItem('finance-manager::code');
            window.location.replace('/');
        });
    </script>
    <script>
        function goToPage(page=1){
            // Clear the table
            tableBody.innerHTML = '';
            // Populate table with data
            createExpensesTable(tableBody, getCurrentExpenses(page));
        }

        const tableBody = document.getElementById('expense_table_body');

        getExpenses().then((res) => {
            const tablePagination = document.getElementById('table_pagination');
            // Generate first page of pagination
            createExpensesTable(tableBody, getCurrentExpenses());
            const maxPageNumber = Math.ceil(res.length / PAGE_LIMIT);

            for(var i = 1; i <= maxPageNumber; i++){
                let newElement = document.createElement('li');
                let directElement = document.createElement('a');
                directElement.classList.add('page-link');
                directElement.innerText = i;

                newElement.classList.add('page-item');
                newElement.appendChild(directElement);
                newElement.setAttribute('onclick', `goToPage(${i})`);

                tablePagination.appendChild(newElement);
            }
        });
    </script>
    <script type="module">
        const barChart = document.getElementById('bar_chart');
        const lineChart = document.getElementById('line_chart');
        const result = await getStatisticData();

        new Chart(barChart, {
            type: 'bar',
            data: {
                labels: Object.keys(result.bar),
                datasets: [{
                    label: 'Tổng tiền theo loại chi tiêu',
                    data: Object.values(result.bar),
                    borderWidth: 1,
                    backgroundColor: '#0D6EFD',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(lineChart, {
            type: 'line',
            data: {
                labels: Object.keys(result.line),
                datasets: [{
                    label: 'Tổng chi tiêu theo ngày',
                    data: Object.values(result.line),
                    borderWidth: 1,
                    borderColor: '#0D6EFD',
                    backgroundColor: '#0D6EFD',
                    tension: 0.1
                }]
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script>
        // Enable tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>
</html>